@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
 
h1,h2,h3,h4.h5,h6,p,span{
   font-family: 'Lato', sans-serif !important;
}
.login-container .container-fluid{
    padding-left: 1rem;
    padding-right: .755rem;
}
.app-login-side{
    background-color:#fff;
    height:100vh;
}
.user .form-control-user{
border:0px;
width:100%;
height: 30px;
border-bottom:1px solid #ccc;
border-radius: 0rem !important;
padding:1.4rem 1rem 1rem 0.25rem !important;
outline: none !important;
}
.user {
    padding-top: 10%;
    padding-right: 5rem;
    position: relative;
}
.fa, .far, .fas{
    color:#858796;
}
.totalw {
    width: 150px !important;
}
.user{
    padding-top:10%;
}
.dataTable td{
    font-size: 12px;
    padding: 7px 7px 7px 17px;
}
.dataTable th{
    font-size: 12px;
    font-weight: bold;
    padding: 7px 7px 7px 17px;
}
.login-btn-btm-text{
    font-size:12px;
    padding-top:3px;
    letter-spacing: 0.1px;
}
.login-footer {
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    letter-spacing: 0.1px;
}
.login-remeber{
    padding-left:0px;
}
.login-remeber li{
    display:inline-block;
    width: 50%;
}
.text-rght{
    text-align:right;
    position:relative;
    top:3px;
    text-align: right;
    position: relative;
    top: 3px;
    right: 0px;
}
.has-error {
    color: red;
    text-transform: lowercase;
    font-size: 13px;
    margin: 0px;
}
.user .form-control-user:focus{
    box-shadow: 0 8px 6px -6px #0060c1;
}
.login-left-child{
    text-align: center;
    vertical-align: middle;
    padding-top:24%;
    color: #fff;
}
.login-page-h4{
    font-size: 14px;
    line-height: 25px;
    padding-top: 10px;
    margin-bottom: 10px !important;
    letter-spacing: 0.1px;
}
.left-hand-child-text1{
    font-size:22px;
    margin:0px;
}
.left-hand-child-text2{
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.74);   
}
.login-left-logo{
width:70px;
height:auto;
}
tbody + thead {
    display: none;
  }
  .contact-info {
    padding-left: 0px;
    padding-bottom:9px;
    border-bottom: 1px solid #ccc;
}
.profile-dropdown .dropdown-item{
    padding:.25rem 1rem !important;
}
.contact-info h3{
    color:#000;
    font-size: 15px;
    font-weight:800;
    margin:0px;
    padding: .25rem 1rem;
}
.Complaints {
    padding: 11px 0px 5px 15px !important;
}
.contact-info h4{
    font-weight:700;
    color:#000;
    font-size: 13px;
    margin:0px;
    padding:.25rem 1rem;
}
.contact-info p{
    font-size: 13px;
    margin: 0px;
    padding: 1px 15px;
}
.contact-info li{
    list-style: none;
}
.page-item {
    font-size: 12px;
    border-radius: 0px !important;
}
.dataTables_info {
    font-size: 12px;
}
.dataTables_wrapper.dt-bootstrap4 {
    font-size: 12px;
}
.dataTables_wrapper .form-control-sm::placeholder {
    font-size: 12px;
}
select.custom-select.custom-select-sm.form-control.form-control-sm {
    font-size: 12px;
    border-radius:3px;
}
.filter-top-bar {
    padding: 5px 0px;
}
.filter-top-bar h4{
   font-size:18px;
}
.filter-top-bar h4 {
    font-size: 16px;
}
.btn-adds{
    font-size: 12px;
    padding: 1px 6px;
    border-radius: 3px;
    margin-left: 7px;   
}
.top-navs .form-control {
    font-size: 12px;
    border-radius: 3px;
}
.top-navs .btn-primary {
    font-size: 12px !important;
    letter-spacing: 0.2px !important;
    font-weight: 700 !important;
    border-radius:3px;
}
.top-navs .btn-secondary{
    font-size: 12px !important;
    letter-spacing: 0.2px !important;
    font-weight: 700 !important;
    border-radius:3px;
}
.top-navs{
    padding:1.25rem 1.25rem 2rem 1.5rem;
    background-color: #f8f9fc;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
.page-item .page-link{
    padding: .3rem .75rem;
}
.page-item:last-child .page-link{
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;  
}
.dataTables_wrapper div.dataTables_paginate ul.pagination{
    margin: 20px 0 2px 0 !important;   
}
.create-modals-up .col-form-label{
    font-size:12px;
    letter-spacing: 0.2px;
}
.create-modals-up  .form-control{
    font-size:12px;
    letter-spacing: 0.2px;
}
.btn-primary {
    font-size: 12px !important;
    letter-spacing: 0.2px !important;
    font-weight: 700 !important;
}
.btn-secondary{
    font-size: 12px !important;
    letter-spacing: 0.2px !important;
    font-weight: 700 !important;    
}
.modal-title{
    font-size:14px;
    font-weight:600;
}
.box-primary {
    background: white;
    padding: 5px;
    margin-top: 29px;
}
.box-title{
    font-size:15px;
    font-weight:700;
}
.box-title {
    font-size: 17px;
    font-weight: 700;
    padding: 5px 0px 5px 5px;
}
.config-tables th{
    font-size: 12px;
}
.config-tables .form-control {
    font-size: 12px!important;
    border: 0px !important;
    outline: none;
    box-shadow: none;
    padding: 0px;
}
.box-footer {
    font-size: 12px;
    padding-top: 8px;
}
table{
font-size:12px;
}
.fa-pencil-square {
    padding: 3px 3px !important;
    font-size: 10px;
}
.recharge_repot_top2 .form-control{
    width:100% !important;
}
.recharge_repot_top2 .col-md-2{
    width: 15.333% !important;
    flex: 0 0 15.333%;
    padding-left: 5px;
}
.recharge_repot_top2 .col-md-1{
    flex: 0 0 6.33333%;
    padding-left:3px;
}
.recharge_repot_top3,.recharge_repot_top2{
    width:100%;
}
.monitor_ths {
    line-height: 15px;
}
.recharge_repot_top2{
    width:100%;
}
.recharge_repot_top1{
    width:100%;
}
.recharge_repot_top1 .form-control{
    width:100%;
}
.recharge_repot_top3 .col-md-4,.recharge_repot_top3 .col-md-2{
    padding-left:5px;
}
.cblock-form .col-md-3,.cblock-form .col-md-4{
    padding-left:5px;
}
.top-navs .col {
    padding-left: 6px;
}
#recharge_repot_top{
    width:100% !important;
}
.font-iconss {
    padding: 7px;
    font-size: 10px;
}
.list-inline{
    padding-left: 0px;
    margin:0px;
    width: 100%;
}
.list-inline li{
    display:inline-block;
    font-size:12px;
}
.dsh-main-swip li:nth-child(1){
    width:45%;
}
.dsh-main-swip li:nth-child(2){
    width:3%;
}
.dsh-main-swip li:nth-child(3){
    width:52%;
}
.dsh-main-swip li{
    text-align: center;
}
.dsh-main-swip .card{
    padding-top:15px !important;
    padding-bottom:15px !important;
}
.dsh-main-swip .list-inline{
    padding-top:12px;
}
.Dasb-board-divider{
    width:auto;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 0rem;  
}
.dash_board_top_sec h1 {
    font-size: 29px;
}
.dash_board_top_sec p{
    font-size:12px;
    letter-spacing: 0.2px;
    width: 100%;
    display: flex;
}
.user-status_dash{
    width: 13%;
    float: left;
    margin: 3px 0px 13px 0px;
}
.top-navsdash .form-control {
    font-size: 12px;
    border-radius: 3px;
    margin: 6px 0px 20px 0px;
}
.top-navsdash{
padding:15px;
}
.filter_rangehr{
    width:97%;
}
.cardsss h4{
 font-size: 18px;
    font-weight: 600;
    margin: 0px;
    padding: 15px 0px 0px 15px;  
}
.active-child {
    font-size:18px;
    color: #08A858 !important;
    display: block;
}
.down-child {
    font-size: 18px;
    color: #B90449 !important;
}
.dash_logo_icon{
    width:17.68px;
    height:17.68px;
}
.dsh-main-swip .card-body{
    padding:0;
}
.dashmom_plant li:nth-child(1) {
    width: 52%;
}
.dashmom_plant li:nth-child(3) {
    width: 44%;
}
.dsh-main-swip h4{
        font-size: 14px;
        margin: 0px;
        padding: 0px 0px 0px 23px;
}
.dashmom_plant .Dasb-board-divider{
    width:0;
}
.top-navsdash .col-md-4 {
    flex: 0 0 28.33333% !important;
    max-width: 28.33333% !important;
}
.top-navsdash .col-md-2 {
    flex: 0 0 18.66667% !important;
    max-width: 18.66667% !important;
}
.recharge_repot_top1 .col-md-1{
    flex: 0 0 10.222% !important;
    max-width: 10.2222% !important;   
}
.das_boards_form{
    width:100%;
}
.dash_filter_card{
    padding: 15px 65px 15px 65px;
}
.card_wre{
    background: #FCFCFC ;
}
.dsh-main-swip12 li:nth-child(1){
    width:54%;
}
.dsh-main-swip12 li:nth-child(3){
    width:45%;
}
.dsh-main-swip12 li{
    text-align: center;
}
.list-inline1 li{
    display:inline-block;
    width:48%;
    text-align:center;
    vertical-align: top;
}
.list-inline1{
    padding-left:0px;
    text-align:center;
    font-size:12px;
}
.dsh-main-swip12 h4 {
    font-size: 14px;
    margin: 0px;
    padding: 0px 0px 10px 27px;
}
.dash_toatl-growth{
    padding-left:1%;
}
.dshboardreport12card{
    padding:15px;
}
#reports_card {
    z-index: 999;
    margin: 0px 0px 22px 0px !important;
}
.reports_card12{
    margin: 0px 0px 22px 0px !important;    
}
.bottom-repo-card{
    margin: 15px 0px 45px 0px;
}
.totlacustom-p {
    font-size: 12px;
    padding: 5px 0px 0px 0px;
}
.dshboardreport12card .card-body{
padding:0px;
}
.chart_revenue-ul{
    list-style:none;
    padding-left:0px;
    width:100%;
}
.water_levelcont{
    padding-left:0px;
    padding-right:0px;
}
.uls-dashcustom{
    padding:0px 0px 0px 0px !important;
}
.totlacustom-h5 {
    font-size:14px !important;
}
.revenue-ulfirst{
    padding-bottom:0px !important;
}
.dash_report_count_card{
    margin-bottom:17px;
}
.dash-top_dus{
    font-size:12px;
    margin-bottom:10px;
}
.revenue-firstp {
    font-size: 16px;
    margin-bottom:0px;
}
#plantIncharge {
    width:100%;
}
.create_emp_reset{
    margin:5px 0px 0px 0px;
    padding:2px 8px;
    border-radius:2px;
    font-size:12px;
    float:right;
}
.water_levelcont .revenue-secondp{
    font-size:25px;
    padding-top:12px;
}
.water_levelcont .col-md-4{
    padding-left:0px;
    padding-right:0px;
}
.water_levelcont  li:nth-child(1){
    width:100%;
}
.revenue-secondp {
    font-size: 14px;
}
.viewdet-waterlevl h5{
    text-align: center;
}
.viewdet-waterlevl a{
    text-decoration: none;
}
.revenue-ul{
    padding-bottom:0px;
}
.top-navs .form-control{
    width:100% !important;
    padding:6px;
}
.reportssx_dates {
    flex: 0 0 11.2222% !important;
}
.cblock-form{
    width:100%;
}
.cblock-form .col-md-2 {
    flex: 0 0 11.667%;
    max-width: 11.667%;
}
.monitor_modal1 .modal-content{
    width:646px;
}
.pswd_form_input{
    position:relative;
}
.pswdhide_icon{
   right:0px;
    position: absolute;
    margin-right: 12px;
    top: 6px;
}
.row.dsh-main-swip,.dash_point_swipe {
    padding: 0px 50px 0px 50px;
}
.main_body_pad{
    padding: 0px 57px;
}
.main_body_pad1{
    padding: 0px 50px; 
}
.report_downloadbtn{
    margin-left:-11px;
    margin-right:10px;
}

/*---- responsive ----- */
/*----1 . dashboard----- */
@media(min-width:1366px)and(max-width:2054px){
    .dshboardreport12card{
        margin:0px 0px 33px 0px;
        box-shadow: 0 .15rem .3rem 0 rgba(58, 59, 69, .15)!important;
    }
    .top-navs .form-control{
        width:100% !important;
    }
    #rdu{
        width:100% !important;
    }
    #cluster {
        width:100% !important;
    }
}
@media (min-width:1200px) and (max-width:1365px){
    .dshboardreport12card {
        margin: 0px 0px 8px 0px !important;
        box-shadow: 0 .15rem .3rem 0 rgba(58, 59, 69, .15) !important;
    }
    .dsh-main-swip li:nth-child(1) {
        width: 43%;
    }
    .dsh-main-swip li:nth-child(3) {
        width: 42%;
    }
    .top-navs .form-control{
        width:100%;
    }
    .recharge_repot_top2 .col-md-2 {
        width: 9% !important;
        flex: 0 0 11.3%;
    }
     .top-navs .col-md-2{
         padding-left:0px;
     }
     .recharge_repot_top1 .col-md-1 {
        flex: 0 0 11.222% !important;
        max-width: 11.222% !important;
    }
}
@media (min-width:1024px) and (max-width:1199px){
    .row.dsh-main-swip, .dash_point_swipe {
        padding: 0px 0px 0px 0px;
    }
    .main_body_pad1 {
        padding: 0px 0px;
    }
    .dash_filter_card {
        padding: 15px 15px 15px 15px;
    }
    .recharge_repot_top1 .col-md-1 {
        flex: 0 0 11.222% !important;
        max-width: 14.222% !important;
    }
   .recharge_repot_top3 .col-md-1 {

    flex: 2 0 11.333%;
    max-width: 11.333%;

} 
}